@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* Prevents overflow on the x-axis */
    overflow-x: hidden;
}


@media (max-width: 375px) {
  .main-footer {
    @apply !bottom-16
  }
}

.main-footer {
  @apply bottom-5
}

.splide__arrow {
  @apply !hidden
}

@layer components {
  .heroButton {
    @apply w-[135px] bg-[#222] mx-3 my-2 px-6 py-2 rounded-lg uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#68f0be] hover:text-[#68f0be]/40
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-lg border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:text-[#68f0be]/40 hover:border-[#68f0be]
  }

  .borderBlur {
    @apply shadow-[0_0_5px_5px_rgba(104,240,190,0.4)]
  }

  .grayGradient {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  }

  

}
